<% include ./partials/header %>

<div class="main ui segment container">
    <div class="ui huge header">All about that Bostonian flair!</div>
    <div class="ui attached ">
        <div class="item">
            <img class="ui centered rounded image" src="https://static.pexels.com/photos/275606/pexels-photo-275606.jpeg">
            <div class="content">
                Jan 02, 2018  |  Boston Harbor <small class="muted"> | credit:<a href="http://www.pexels.com/" target="_blank">  Pexels</a></small>
            </div>
            <div class="description postContent">
                <p>Bloggah is a demonstration Node application.  It is not a real blog.  A real blog can be found
                    <a href="http://codesafk.github.io" target="_blank">here</a>.  It's only function is to serve as an
                    example of a full-stack (but simple) application using MongoDB, Express.js, Node.js and SemanticUI.
                <p><strong>Angular will be added in a later version.</strong></p>
                </p>
                <p>
                    If you find yourself here as a result of a youtube video,<a href="http://github.com/CodesAFK"target="_blank">GitHub</a>, or my <a href="https://www.codesafk.github.io"
                                                                                               target="_blank">blog</a>, then by all means,
                    make a post, and let us know where you came from and what you're up to!
                </p>
                    <h3>
                        Instructions for posting:
                    </h3>
                <ul>
                    <li>Click the link in the navigation for 'New Post'</li>
                    <li>The image input <strong>must</strong> be a link to an image.</li>
                    <li>In your post, you'll have to use html markup.  (Script tags will be sanitized.)</li>
                </ul>
                
                <p>If you're super into the electric Internet machine and this new 'social media' thing, feel free to hit me up for hugs or bugs:</p>
                <div class="social">
                    <a href="http://www.facebook.com/dave.mars.1044" target="_blank"><i class="facebook f icon"></i></a>
                    <a href="http://github.com/CodesAFK" target="_blank"><i class="github icon"></i></a>
                    <a href="http://twitter.com/CodesAFK?lang=en" target="_blank"><i class="twitter icon"></i></a>
                    <a href="http://www.linkedin.com/in/dave-mars/" target="_blank"><i class="linkedin icon"></i></a>
                </div>
                <div class="thick50"></div>
                <p>As always, thanks for stopping by,</p>

                <h3>{CodesAFK}</h3>
            </div>

        </div>
    </div>


</div>

<% include ./partials/footer %>