<% include ./partials/header %>

<div class="main ui segment container">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>">
            <div class="content">
                <%= post.created.toDateString() %>
            </div>
            <div class="description">
                <p><%= post.body %></p>
            </div>
        </div>
    </div>


</div>

<% include ./partials/footer %>


